.christina {
    height: 115px;
    width: 85px;
    border: 1px solid white;
    max-width: 150%;
    border-radius: 15px;
    margin-left: 45px;
    
}
.chun {
    height: 110px;
    width: 90px; 
    border: 1px solid white;
    max-width: 150%;
    border-radius: 15px;
    margin-left: 45px;
}
.gabe {
    height: 105px;
    width: 85px;
    border: 1px solid white;
    max-width: 150%;
    border-radius: 15px;
    margin-left: 45px;
}
.nikolaus {
    height: 105px;
    width: 90px;
    border: 1px solid white;
    max-width: 150%;
    border-radius: 15px;
    margin-left: 45px;
}
.team-img {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 
  .image {
    flex-basis: 40%;
    margin-bottom: 50px;
    
  }
  .text {
    font-size: 12px;
    padding-left: 100px;
    /* border: 1px solid white; */
    background: none;
    margin-right: 50px;
    margin-bottom: 75px;
}

.neon-text-about {
    margin-top: 25px;
}

.about-info {
    background-image: url('https://res.cloudinary.com/dejg3dz16/image/upload/o_37/v1622003751/icecream_bg_pljiay.jpg');
        background-repeat: no-repeat;
        background-size: 1000px 100vh ;
        background-position: top;
        background-attachment: fixed;
}

.text-color {
    color: black;
    font-weight: 900;
    font-size: 13px;
}