.christina {
    height: 130px;
    width: 85px;
    border: 1px solid white;
    
}
.chun {
    height: 110px;
    width: 90px; 
    border: 1px solid white;
}
.gabe {
    height: 110px;
    width: 95px;
    border: 1px solid white;
}
.nikolaus {
    height: 115px;
    width: 90px;
    border: 1px solid white;
}
.team-img {
    display: flex;
    flex-direction: column;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
  img {
    max-width: 150%
  }
  .image {
    flex-basis: 40%
  }
  .text {
    font-size: 12px;
    padding-left: 100px;
    /* border: 1px solid white; */
    background: none;

}