.christina {
    height: 115px;
    width: 85px;
    border: 1px solid white;
    max-width: 150%;
    border-radius: 15px;
    
}
.chun {
    height: 110px;
    width: 100px; 
    border: 1px solid white;
    max-width: 150%;
    border-radius: 15px;
}
.gabe {
    height: 105px;
    width: 80px;
    border: 1px solid white;
    max-width: 150%;
    border-radius: 15px;
}
.nikolaus {
    height: 105px;
    width: 80px;
    border: 1px solid white;
    max-width: 150%;
    border-radius: 15px;
}
.team-img {
    display: flex;
    flex-direction: column;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
  }
 
  .image {
    flex-basis: 40%;
    
  }
  .text {
    font-size: 12px;
    padding-left: 100px;
    /* border: 1px solid white; */
    background: none;

}