.i-frizz {
    height: 50px;
    weight: 50px;
    margin-top: ;
}

img {
    margin: -2px;
}

h4 {
    color: white;
    text-align: left;
    padding-left: 20px;
}

.home-btns {
    display: flex;
    flex-direction: column;
    margin-top: 400px;
}

.login-btn2 {
width: 300px;
height: 45px;
border-radius: 25px;
color: white;
background: #e84e4c;
margin-bottom: 20px;
}

.signup-btn2 {
width: 300px;
height: 45px;
border-radius: 25px;
color: #e84e4c;
background: #181c1e;
border: 1px solid #e84e4c;
font-size: 15px;
font-weight: 600;
}

/* .logo {
    margin-top: 50px;
} */



.default-bg {
    background-image: url('https://res.cloudinary.com/dejg3dz16/image/upload/o_66/v1622003751/icecream_bg_pljiay.jpg');
    background-repeat: no-repeat;
    background-size: 500px 700px;
    background-position: 100% -40%;
    background-attachment: fixed;
    background-size: 700px 500px;
}
