.home-bg2  {
        background-image: url('https://res.cloudinary.com/dejg3dz16/image/upload/v1622091710/two-chocolate-chip-raspberry-ice-cream-cones-with-melted-splash-against-black-background-overhead-view-ISF23056_jyxht6.jpg');
        background-repeat: no-repeat;
        background-size: 1000px 100vh ;
        background-position: top;
        background-attachment: fixed;
}



.parlour-list {
        margin: 20px;
        width: 100vw;
        max-width: 600px;
        margin: 40px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
}

.parlour-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 20px 40px;
}

.parlour img {
        height: 300px;
        width: 400px;
        max-width: 600px;
        margin-left: 4px;       
}




.rating span {
        color: white;
        margin-left: 5px;
}

.home-pars {
        display: flex;
        justify-content: end;
        margin-left: 15px;
        margin-top: 15px;
        font-size: 20px;
}