.icecream-month {
    height:200px;
    width: 350px;
    margin-left: -5px;
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 5px;
}

.month-txt {
    margin-left: 25px;
    margin-right: 25px;
}

.month-txt2 {
    margin-bottom: 80px;
}

.pop-fla {
    text-align: center;
    margin-top: 50px;
    margin-left: 40px;
}

.neon-text2 {
    margin-top: 100px;
}

.star {
    color: red;
    text-align: left;
    margin-left: 45px;
    padding-top: 10px;
}
.star::after {
    content:" (154 ratings) Cafe";
    color: gray;
}

.icon-1 {
    width: 60px;
    border-radius: 10px;

}

.bubble-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.bubbles {
    border-radius: 15px;
}

.txt-btns {
margin-top: 70px;
position: relative;
right: 60px;
}



.floats {
    margin-top: 60px;
    display: flex;
    justify-content: left;
    margin-left: 40px;
}

.ice-cream2 {
    margin-top: 20px;
    display: flex;
    justify-content: left;
    margin-left: 40px;
}