.i-frizz {
    height: 50px;
    weight: 50px;
    margin-top: 100px;
}

img {
    margin: -2px;
}

.avatar {
    height: 100px;
    width: 100px;
    margin-top: 50px;
}

.bg-dark {
    width: 600px;
    height: 400px;
}