body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.comp-btns {
display: flex;
justify-content:space-evenly;
margin-top: 250px;
}


.home-btn {
  color: red;
  font-size: 40px;
}

.menu-btn {
  color: white;
}

.offer-btn {
  color: white;
}

.profile-btn {
  color: white;
}

.more-btn {
  color: white;
}

p {
  color: white;
  text-decoration: antiquewhite;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 250px;

}

.login-form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.signup {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.login {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

input { 
margin: 5px;

}

.signup-btn {
  width: 75px;
}

.login-btn {
  width: 100px;
  display: flex;
  justify-content: center;
  margin-left: 75px;
}



body {
  background: black;
  background-image: url("https://res.cloudinary.com/dejg3dz16/image/upload/v1621912001/Screen_Shot_2021-05-24_at_9.59.14_PM_ta2eju.png");
  background-attachment: fixed;
  background-position: -480px -220px;
  background-repeat: no-repeat;
  
}

.create {
  margin-top: 180px;
}

h2 {
  color: white;
}

/* TABLET */
@media screen and (min-width: 768px) {

  body {
    background-position: -320px -220px;
  }


}


/* LAPTOP */
@media screen and (min-width: 1024px) {

  body {
    background-position: -170px -220px;
  }






}