@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,400;0,600;0,700;1,200&display=swap');


* {
  margin: 0;
  font-family: 'KoHo', sans-serif;
}

.comp-btns {

display: flex;
justify-content:space-evenly;
margin-top: 250px;
}

.home-btn {
  color: red;
  font-size: 40px;
}

.menu-btn {
  color: white;
}

.offer-btn {
  color: white;
}

.profile-btn {
  color: white;
}

.more-btn {
  color: white;
}

p {
  color: white;
}

button:hover {
  cursor: pointer;
}

.btns {
  width: 140px;
  height: 50px;
  margin: 60vh 10px 0;
  background-color: #181c20;
  color: white;
  font-size: 24px;
  font-weight: 700;
}


.signup-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 2px solid #e74d4b;
  border-radius: 5%;
  margin-top: 30vh;
  padding: 25px;
  box-shadow: 2px 2px 40px 2px #e74d4b;
}
.form-name {
  background-color: #181c20;
  color: white;
}
.form-name:focus {
  outline: none;
}
.form-pass {
  background-color: #181c20;
  color: white;
}
.form-pass:focus {
  outline: none;
}
.form-email {
  background-color: #181c20;
  color: white;
}
.form-email:focus {
  outline: none;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 2px solid #e74d4b;
  border-radius: 5%;
  padding: 25px;
  margin-top: 35vh;
  box-shadow: 2px 2px 40px 2px #e74d4b;
}
.login-email {
  background-color: #181c20;
  color: white;
}
.login-email:focus {
  outline: none;
}
.login-password {
  background-color: #181c20;
  color: white;
}
.login-password:focus {
  outline: none;
}
.login-btn {
  width: 100px;
  /* display: flex;
  justify-content: center;
  margin-left: 75px; */
  margin-top: 10px;
  background-color: #181c20;
  color: white;
}

.signup {
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  justify-content: center;
}

input {
  margin: 5px;
}

.signup-btn {
  width: 100px;
  margin-top: 10px;
  background-color: #181c20;
  color: white;
}

.neon-text {
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #e74d4b,
      0 0 21px #e74d4b,
      0 0 42px #e74d4b,
      0 0 82px #e74d4b,
      0 0 92px #e74d4b,
      0 0 102px #e74d4b,
      0 0 151px #e74d4b;
  }

body {
  background: black;
  background-image: url("https://res.cloudinary.com/dejg3dz16/image/upload/v1621912001/Screen_Shot_2021-05-24_at_9.59.14_PM_ta2eju.png");
  background-attachment: fixed;
  background-position: -480px -220px;
  background-repeat: no-repeat;
}

.create {
  margin-top: 180px;
}

h2 {
  color: white;
}



/* TABLET */
@media screen and (min-width: 768px) {
  body {
    background-position: -320px -220px;
  }
}

/* LAPTOP */
@media screen and (min-width: 1024px) {
  body {
    background-position: -170px -220px;
  }
}
